<div class="max-w-2xl mx-auto">
  <!-- Breadcrumbs -->
  <div class="breadcrumbs text-sm mb-4">
    <ul>
      <% if @council %>
        <li><%= link_to "Councils", councils_path %></li>
        <li><%= link_to @council.name, @council %></li>
        <li>New Advisor</li>
      <% else %>
        <li><%= link_to "Spaces", spaces_path %></li>
        <li><%= link_to @space.name, @space %></li>
        <li><%= link_to "Advisors", space_advisors_path(@space) %></li>
        <li>New Advisor</li>
      <% end %>
    </ul>
  </div>

  <h1 class="text-3xl font-bold mb-6">New Advisor</h1>

  <section class="card bg-base-100 shadow">
    <div class="card-body">
      <%= render 'form', advisor: @advisor, space: @space, council: @council %>
    </div>
  </section>
</div>
