<!DOCTYPE html>
<html data-theme="wireframe">
  <head>
    <title><%= content_for(:title) || "Small Council" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Small Council">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Tailwind CSS with DaisyUI %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%# Application styles %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <body class="min-h-screen bg-base-100"
      data-controller="page-modal"
      data-action="turbo:click@document->page-modal#beforeTurboFrameLoad"
      >
    <%= render "layouts/navigation" %>
    <div id="flash">
      <%= render "layouts/flash" %>
    </div>

    <%= render(layout: "layouts/inner/#{@inner_layout || :default}") do %>
      <%= yield %>
    <% end %>

    <turbo-frame id="page-modal" class="modal"></turbo-frame>
  </body>
</html>
